.padre{
  height: 500px;
  width: 500px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hijo{
  height: 100px;
  width: 100px;
  background-color: white;

}
